h1,
h2,
h3 {
    font-family: "Open Sans", sans-serif;
}

h1 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: black;
}

h2 {
    text-align: center;
    font-size: 18px;
}

h3 {
    text-align: center;
    font-size: 16px;
    color: gray;
}
ul {
    list-style: none;
   }
.city {
    border: 1px solid #858489;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-right: auto;
    margin-left: 0;
    max-width: 200px;
}

.details {
    border: 1px solid #858489;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: 0;
    max-width: 200px;
}

Details .humidity {
    text-align: left;
    margin-bottom: 20px;
    margin-right: 0;
}

.search {
    text-align: center;
    margin: 5px auto;
    padding: 10px 10px;
    font-size: 18px;
    max-width: 350px;
}

.currentLocation {
    margin: 10px;
    padding: 5px 5px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    border: 1px solid #858489;
    border-radius: 5px;
}

.week {
    border: 1px solid #858489;
    border-radius: 5px;
    margin: 10px;
    max-width: 380px;
}

.forecast {
    border: 1px solid #858489;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 5px auto;
        max-width: 200px;
}

.footer {
    margin: 20px auto;
    color: #3f3e3e;
    text-align: center;
    text-decoration: none;
    font-style: oblique;
    font-size: 16px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
img {
text-align: center;
display: block;
max-height: 60px;
margin: auto;
}

Form .searchForm {
    margin: 10px;
}

.date {
    font-size: 22px;
    color: rgb(18, 18, 75);
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 5px 5px;
}
 .weatherTemperature {
    font-size: 20px;
   
}
.converterLink {
text-decoration: none;
color: #3f3e3e;
}

.Weather-Forecast-temp-min {
   color: #858489;
}
.Weather-Forecast-temp-max {
    color: black;
}
.main {
    max-width: 500px;
}
@media (max-width: 540px) {
    ul {
        padding-left: 0!important;
    }
    .details {
        margin: 5px auto;
    }
    .city {
        margin: 5px auto;
    }
    .date {
        margin-bottom: 0;
    }
   

}
